.about {
    & input[type="date"] {
        color: var(--input-placeholder);
     
        &:focus {
            color: var(--text-heading);
        }

        &::-webkit-calendar-picker-indicator {
            display: none;
            -webkit-appearance: none;
        }
    }
}