input {
    all: unset;
}

textarea {
    appearance: none;
}

input, textarea {
    box-sizing: border-box;
    font: var(--body-md);
    padding: 0.8rem 1rem;
    width: 100%;

    background-color: var(--input-base);
    border: 1px solid var(--input-stroke);
    border-radius: 0.5rem;
    outline: none;

    &::placeholder {
        color: var(--input-placeholder);
    }
}

input:focus, textarea:focus {
    border-color: var(--brand-light);
    color: var(--text-heading);
}


/* Removendo o ícone padrão de input date */
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}


/* Removendo CSS padrão do navegador ao utilizar dados salvos/preenchimento automático de formulário */
input:-webkit-autofill {
    -webkit-text-fill-color: var(--text-body);
    box-shadow: 0 0 0 1000px var(--input-base) inset !important;
    
    transition: background-color 5000s ease-in-out 0s;
}


/* Configurando inputs com required + mensagem obrigatória */
input:required {
    border-color: var(--danger);
}

input:not(:focus):valid {
    border-color: var(--input-stroke);
}

input:not(:focus):valid + .required-error {
    display: none;
}