.personalization .img-legend {
    background-image: url(../../assets/icons/paintbrush-vertical.svg);
}

.personalization-inputs span {
    display: block;
    margin-bottom: 1rem;
    color: #FFF;
}

.colors-itens {
    & .circle {
        position: relative;
        cursor: pointer;
        background-color: var(--shape-button);

        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        border: 2px solid var(--brand-light);

        &:hover {
            background-color: var(--shape-hover);
        }

        & input[type="radio"] {
            all: unset;
            position: absolute;
            top: 4px;
            left: 5px;

            background-color: white;
            width: 1.75rem;
            height: 1.75rem;
            border-radius: 50%;
        }
    }
}
