.personalization .img-legend {
    background-image: url(../../assets/icons/paintbrush-vertical.svg);
}

.personalization-inputs span {
    display: block;
    margin-bottom: 1rem;
    color: #FFF;
}

.colors-itens {
    display: flex;
    gap: 0.75rem;

    .circle {
        position: relative;
        
        width: 2.5rem;
        height: 2.5rem;
        
        border-radius: 50%;
        background-color: var(--shape-button);
        border: 2px solid transparent;
    }
    
    .circle:hover {
        background-color: var(--shape-hover);
    }

    .circle:has(input[type="radio"]:checked) {
        border-color: var(--brand-light);
    }

    label {
        position: absolute;
        top: calc(50% - 1.75rem/2);
        left: calc(50% - 1.75rem/2);

        width: 1.75rem;
        height: 1.75rem;

        border-radius: 50%;
    }

    input[type="radio"] {
        all: unset;
        cursor: pointer;

        position: absolute;
        inset: 0;
    }
    
    /* Configuração de cores de cada label */
    .brand-color {
        background-color: var(--brand-light);
    }
    
    .navy {
        background-color: var(--navy);
    }

    .purple {
        background-color: var(--purple);
    }

    .fuschia {
        background-color: var(--fuschia);
    }

    .pink {
        background-color: var(--pink);
    }

    .danger {
        background-color: var(--danger);
    }

    .orange {
        background-color: var(--orange);
    }

    .yellow {
        background-color: var(--yellow);
    }

    .lime {
        background-color: var(--lime);
    }

    .green {
        background-color: var(--green);
    }

    .cyan {
        background-color: var(--cyan);
    }
}

.theme-itens {
    display: grid;
    gap: .5rem;
    grid-template-columns: repeat(4, 1fr);
}

.theme > span {
    margin-top: 1.75rem;
}

.theme-radio {
    position: relative;
    max-width: 8.4rem;
    padding-block: .25rem .5rem;
    padding-inline: .25rem;

    display: grid;
    gap: .5rem;
    justify-content: center;
    text-align: center;

    border: 2px solid var(--input-stroke);
    border-radius: 0.5rem;
    background-color: var(--shape-button);

    &:hover {
        background-color: var(--shape-hover);
    }

    &:has(input[type="radio"]:checked) {
        background-color: var(--shape-button);
        border: 2px solid var(--brand-light);
    }

    img {
        max-height: 4rem;
        border-radius: 0.25rem;
        object-fit: cover;
    }

    label {
        font: var(--body-sm);
        color: var(--text-heading);
        font-weight: 400;
    }

    input {
        all: unset;
        position: absolute;
        inset: 0;
        
        cursor: pointer;
    }
}
