#app {
    display: grid;
    grid-template-columns: 35.94% 64.06%;
    
    height: 100vh;
    overflow: hidden;
}

aside {
    & #aside-container {
        max-width: 25rem;
        min-height: 45.5rem;
        margin-left: auto;

        position: relative;

        & .img-background {
            background-image: url(../assets/Background.jpg);
            border-radius: 0.75rem;
            width: 25rem;
            height: 45.5rem;

            position: absolute;
            inset: 0;
            z-index: -1;
        }

        & .title {
            padding: 2rem;
            gap: 1rem;

            & .text {
                gap: 0.25rem;

                & h1 {
                    font: var(--logo);
                    color: var(--pink);
                }

                & p {
                    font: var(--body-md);
                    color: var(--text-heading);
                }
            }
        }
    } 
}

main {
    overflow: auto;
    padding: 1.25rem 1.25rem 1.25rem 0;
    
    & #main-container {
        max-width: 51.25rem;
    }
}